.board {
    margin: 150px auto 0px;
    width: 770px;
    height: 660px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.square {
    background: #eee;
    border: 1px solid #ccc;
    float: left;
    height: 108px;
    width: 108px;
}

.counter {
    width: 100px;
    height: 100px;
    margin: 4px;
    border-radius: 50%;
}

.counter-red {
    background: linear-gradient(45deg, #ff0000 0%, #ff6600 100%);
}

.counter-yellow {
    background: linear-gradient(45deg, #ffff00 0%, #ff6600 100%);
}
